doctype html
html(lang='en')
    head
        //
          Basic Page Needs
          ==================================================
        meta(charset='utf-8')
        //if IE
          meta(http-equiv='x-ua-compatible', content='IE=9')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title | Plantino - Web Panel
        meta(name='description', content='Your Description Here')
        meta(name='keywords', content='plants, arduino')
        meta(name='author', content='Fabio Rizzo')
        //
          Favicons
          ==================================================
        link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
        link(rel='apple-touch-icon', href='img/apple-touch-icon.png')
        link(rel='apple-touch-icon', sizes='72x72', href='img/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='114x114', href='img/apple-touch-icon-114x114.png')
        // Bootstrap
        link(rel='stylesheet', type='text/css', href='stylesheets/bootstrap.css')
        //link(rel='stylesheet', type='text/css', href='fonts/font-awesome/css/font-awesome.css')
        //
          Stylesheet
          ==================================================
        link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
        link(rel='stylesheet', type='text/css', href='stylesheets/responsive.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        script(type='text/javascript', src='javascripts/modernizr.custom.js')
        script(type='text/javascript', src='javascripts/jquery-3.2.1.min.js')
        script(type='text/javascript', src='javascripts/bootstrap.js')
        script(type='text/javascript', src='javascripts/main.js')
        script(src='javascripts/sweetalert.min.js')
        link(rel='stylesheet', href='stylesheets/sweetalert.css')
        //link(href='http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300', rel='stylesheet', type='text/css')
        //link(href='http://fonts.googleapis.com/css?family=Playball', rel='stylesheet', type='text/css')
        script.
            var ip = location.host;
    body
        #tf-home
            #sticky-anchor
            nav#tf-menu.navbar.navbar-default
                .container
                    // Brand and toggle get grouped for better mobile display
                    .navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="#" id="index") Plantino
                            script.
                                document.getElementById("index").href = "http://" + ip;
                        a.navbar-icon(onclick="openPanel()", type="button")
                            span.fa.fa-cog
                            #panelModal.modal.fade(role='dialog')
                                .modal-dialog
                                    .modal-content
                                        .modal-header
                                            button.close(type='button', aria-label='Close', onclick="closePanel()") ×
                                            h4.modal-title Impostazioni
                                        .modal-body
                                            label(for='plants') Selezione una Pianta:
                                            .space
                                            select(id="plants")
                                        .modal-footer
                                            button.btn.btn-primary(type='button', onclick="getSelectedPlant()") Save changes
                                            script.

                                            button.btn.btn-danger(type='button', onclick="closePanel()") Close
                                    // /.modal-content
                                // /.modal-dialog
                            script.
                                function openPanel() {
                                        var modalPanel = $('#panelModal');
                                        modalPanel.modal('show');
                                };
                            script.
                                function closePanel() {
                                        var modalPanel = $('#panelModal');
                                        modalPanel.modal('hide');
                                    };
                            script.
                                $(function getPlants() {
                                    $.getJSON('conf.json', function (data) {
                                        var select = document.getElementById("plants");
                                        var option = document.createElement("option");
                                        $.each(data.plants, function (i, e) {
                                            console.log(e.plantName);
                                            select.options[select.options.length] = new Option(e.plantName);
                                        })
                                    })
                                });
                            script.
                                function getSelectedPlant() {
                                    var e = document.getElementById("plants");
                                    var selectedPlant = e.options[e.selectedIndex].value;
                                    console.log(selectedPlant.toString());

                                    $.getJSON('conf.json', function (data) {
                                        $.each(data.plants, function (i, e){
                                            if(e.plantName == selectedPlant ){

                                                var minTemp = e.minTemperature;
                                                var maxTemp = e.maxTemperature;
                                                var minHum = e.minHumidity;
                                                var maxHum = e.maxHumidity;
                                                var minLight = e.minLight;
                                                var maxLight = e.maxLight;

                                                var xmlhttp = new XMLHttpRequest();
                                                xmlhttp.open("POST", "http://192.168.1.107:1024/home/getPlant", true)

                                                xmlhttp.setRequestHeader("Content-Type", "application/json");
                                                xmlhttp.send(JSON.stringify({
                                                    plant: selectedPlant,
                                                    minTemp: minTemp,
                                                    maxTemp: maxTemp,
                                                    minLight: minLight,
                                                    maxLight: maxLight,
                                                    minHum: minHum,
                                                    maxHum: maxHum
                                                }));

                                                xmlhttp.onreadystatechange = function () {
                                                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {

                                                        response = xmlhttp.responseText;
                                                        if (response == "success") {
                                                            swal("Preferenze cambiate!")
                                                            closePanel();
                                                        }
                                                    }
                                                }
                                            }
                                        });
                                    });
                                }

                    #bs-example-navbar-collapse-1.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(id="name", href="#")
                                script.
                                    var user = !{user};
                                    document.getElementById("name").innerHTML = user;
                            li
                                a(id="logout", onclick="userLogout()", href="#") Logout
                                script.
                                    function userLogout() {
                                        swal({
                                                title: "Do you want to Logout?",
                                                type: "warning",
                                                showCancelButton: true,
                                                confirmButtonColor: "#DD6B55",
                                                confirmButtonText: "Yes!",
                                                dedlineButtonText: "No..",
                                                closeOnConfirm: false
                                            },
                                            function (isConfirm) {
                                                if (isConfirm) {
                                                    post('/home', {data: 'success'})
                                                }
                                            });
                                    }
        .container
            .media
                .inbl
                    .vertical
                        .space
                            h2(id="plantName") Rosmarino
                            .space
                                img(src="http://www.ikea.com/PIAimages/67423_PE181266_S5.JPG", style="width:290px;height:300px", alt="plantImage")
                                form(method="post", enctype="multipart/form-data", action="/home/getImage")
                                    .form-group
                                        input(type="file", name="file", style="width:250px").btn.btn-primary.my-btn
                                    .form-group
                                        input(type="submit", value="Upload", style="width:250px").btn.btn-primary.my-btn
                .inbl
                    .vertical
                        .space
                            h3(id="plantState") Stato di salute:
                        .space
                            h4(id="actualTemp") Temperatura dell'aria:
                            h4(id="actualMoist") Umidità del terreno:
                            h4(id="actualLight") Luce Solare:
        .container
            .media
                .space
                    .inbl
                        h2 Storico


        nav#tf-footer
            .container
                .pull-left
                    p
                        | 2017 © Plantino. All Rights Reserved.
                        a(href='https://github.com/fabio92rz')
                            font(color='#ffffff')   Fabio Rizzo
                .pull-right
                    ul.social-media.list-inline
                        li
                            a.navbar-icon-footer(href='#')
                                span.fa.fa-facebook
                        li
                            a.navbar-icon-footer(href='#')
                                span.fa.fa-twitter
                        li
                            a.navbar-icon-footer(href='#')
                                span.fa.fa-pinterest
                        li
                            a.navbar-icon-footer(href='#')
                                span.fa.fa-google-plus
                        li
                            a.navbar-icon-footer(href='#')
                                span.fa.fa-dribbble
                        li
                            a.navbar-icon-footer(href='#')
                                span.fa.fa-behance

        script.
            var user = !{data};
        script.
            function post(path, params, method) {
                method = method || "post";
                var form = document.createElement("form");
                form.setAttribute("method", method);
                form.setAttribute("action", path);

                for (var key in params) {
                    if (params.hasOwnProperty(key)) {
                        var hiddenField = document.createElement("input");
                        hiddenField.setAttribute("type", "hidden");
                        hiddenField.setAttribute("name", key);
                        hiddenField.setAttribute("value", params[key]);

                        form.appendChild(hiddenField);
                    }
                }

                document.body.appendChild(form);
                form.submit();
            }


//
   Created by Fabio on 29/03/2017.

