//
   Created by Fabio on 06/03/2017.

doctype html
html(lang='en')
    head
        script(src='javascripts/sweetalert.min.js')
        link(rel='stylesheet', href='stylesheets/sweetalert.css')
        //
          Basic Page Needs
          ==================================================
        meta(charset='utf-8')
        //if IE
          meta(http-equiv='x-ua-compatible', content='IE=9')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title | Plantino - Login
        meta(name='description', content='Your Description Here')
        meta(name='keywords', content='plants, arduino')
        meta(name='author', content='Fabio Rizzo')
        //
          Favicons
          ==================================================
        link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
        link(rel='apple-touch-icon', href='img/apple-touch-icon.png')
        link(rel='apple-touch-icon', sizes='72x72', href='img/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='114x114', href='img/apple-touch-icon-114x114.png')
        // Bootstrap
        link(rel='stylesheet', type='text/css', href='stylesheets/bootstrap.css')
        //link(rel='stylesheet', type='text/css', href='fonts/font-awesome/css/font-awesome.css')
        //
          Stylesheet
          ==================================================
        link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
        link(rel='stylesheet', type='text/css', href='stylesheets/responsive.css')
        script(type='text/javascript', src='javascripts/modernizr.custom.js')
        script.
            var ip = location.host;
        //link(href='http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300', rel='stylesheet', type='text/css')
        //link(href='http://fonts.googleapis.com/css?family=Playball', rel='stylesheet', type='text/css')
        body
        #tf-home
            #sticky-anchor
                nav#tf-menu.navbar.navbar-default
                    .container
                        // Brand and toggle get grouped for better mobile display
                        .navbar-header
                            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href="", id="login") Plantino
                            script.
                                document.getElementById("login").href = "http://" + ip;


        #tf-register
            #registerSection
                h3 Login
                    .space
                        .row
                        form(method='post', action='login', name='loginForm')
                            .form-group
                                input.form-control(id='userMail', type='email', placeholder='Enter Email', name='registerMail')
                            .form-group
                                input.form-control(id='userPass1', type='password', placeholder='Enter Password', name='registerPass1')

                            button.btn.btn-primary.my-btn.dark(type='submit') Login
                        a(href='', id="register") Se non hai un account, registrati qui.
                        script.
                            document.getElementById("register").href = "http://" + ip + "/register";

        nav#tf-footer
            style.
                nav {
                    position: fixed;
                }
            .container
                .pull-left
                    p
                        | 2017 © Plantino. All Rights Reserved.
                        a(href='https://github.com/fabio92rz')
                            font(color='#ffffff')   Fabio Rizzo
                .pull-right
                    ul.social-media.list-inline
                        li
                            a(href='#')
                                span.fa.fa-facebook
                        li
                            a(href='#')
                                span.fa.fa-twitter
                        li
                            a(href='#')
                                span.fa.fa-pinterest
                        li
                            a(href='#')
                                span.fa.fa-google-plus
                        li
                            a(href='#')
                                span.fa.fa-dribbble
                        li
                            a(href='#')
                                span.fa.fa-behance

        script.
            var status = !{data};

            if (status === "failed") {

                sweetAlert("Oops", "qualcosa è andato storto...", "error");
            }
        //script.
            /**function mRegister() {
                var xmlhttp = new XMLHttpRequest();
                var status = "";
                xmlhttp.open('POST', "http://localhost:1024/register", true);
                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {

                        status = xmlhttp.responseText;

                        if (status == "success"){
                            sweetAlert("Congratulazioni, ora puoi effettuare il login");
                        }else {
                            sweetAlert("Oops, qualcosa è andato storto...");
                        }
                    }
                };
                xmlhttp.send();
            }**/

            /**function mRegister() {
                var xmlhttp = new XMLHttpRequest();

                var name = document.getElementById("userName").innerHTML;
                var mail = document.getElementById("userMail").innerHTML;
                var pass = document.getElementById("userPass1").innerHTML;
                var mPass = document.getElementById("userPass2").innerHTML;

                xmlhttp.open('POST', "http://localhost:1024/register", true);

                var user = {name: name, mail: mail, pass: pass, mPass: mPass};
                var data = JSON.stringify(user);

                xmlhttp.setRequestHeader("Content-type", "views/register");
                xmlhttp.setRequestHeader("Content-length", data.length);
                xmlhttp.setRequestHeader("Connection", "close");

                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {

                        if (xmlhttp.responseText == "success") {

                            sweetAlert("Congratulazioni, ora puoi effettuare il login!");

                        } else {

                            sweetAlert("Oops, qualcosa è andato storto...");
                        }
                    }
                };
                xmlhttp.send(data);
            }**///

